@import "normalize.css";

/* Global styles */

.b-page{
    color: #333;
    background: #fff;
    font: 13px/17px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    }

    .b-content{
        width: 960px;
        margin: 0 auto;
        }

        .b-title{
            color: #000;
            font-size: 23px;
            font-weight: normal;
        }

        .b-tabs{
            padding: 0;
            background: #1D2124;
            }

            .b-tabs__item{
                display: inline-block;
                }

            .b-tabs__item_state_current{

                }

                .b-tabs__link{
                    color: #fff;
                    display: block;
                    padding: 8px 10px;
                    }

                .b-tabs__link:hover{
                    color: red;
                    }

        .b-text{
            }

            .b-text__item{
                display: none;
                }

            .b-text__item_state_current{
                display: block;
                }

                .b-sub-title{
                    font-size: 19px;
                    font-weight: normal;
                    }